/* Mobile css code start here */
@media (min-width: 320px) and  (max-width: 480px) {
    /* code start */
    .banner-section .inner-banner{
        padding: 0px;
    }
    .banner-section .inner-banner h1 {
        padding: 60px 0px 0px;
        font-size: 36px;
        line-height: 50px;
        width: 100%;
    }
    .banner-section .inner-banner p {
        width: 100%;
        font-size: 22px;
        line-height: 35px;
        text-align: justify;
    }
    .love-animal .inner-love-animal h4 {
        font-size: 34px;
        width: 100%;
        font-weight: 500;
        line-height: 48px;
        text-align: left;
    }
    .love-animal .inner-love-animal p {
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
        margin: 52px 0px;
    }
    .love-animal .inner-love-animal .btn-group .btn-info{
        margin-left: 50px;
    }
    .love-animal .img .hover{
        height: 100%;
        left: 29px;
    }
    .love-animal .inner-love-animal-two{
        display: block;
        text-align: center;
    }
    .love-animal .inner-love-animal-two .hover{
        width: 100%;
        height: 77%;
    }
    .love-animal .inner-love-animal-two img{
        width: 100%;
    }
    .title-section .inner-title-full-width h5{
        font-size: 42px;
    }
    .title-section .inner-title-full-width p {
        font-size: 18px;
        width: 100%;
        text-align: justify;
       font-size: 20px;
    }
    .inner-title-image p {
        font-size: 20px;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    .inner-title-image h4 {
        width: 100%;
        text-align: center;
    }
    .inner-title-image{
        margin-bottom: 30px;
    }
    .love-animal .inner-love-animal-two{
        display: block;
        text-align: center;
    }
    .inner-title-image-hyper{
        margin-bottom: 25px;
    }
    .last-section .inner-sec-part ul li{
        margin-right: 12px;
        margin-left: 0px;
    }
    .last-section .inner-sec-part ul{
        text-align: center;
    }
    .resent-post .inner-title-full-width p {
        font-size: 24px;
        width: 100%;
        margin: 25px auto;
        letter-spacing: 0.2px;
    }
    .inner-title-image ul li a {
        margin-left: 20px;
    }
    .inner-title-image{
        margin-bottom: 25px;
    }
    /* code end */
}

/* Mobile css code end here*/
/* Tablate css code start here */
@media (min-width: 481px ) and (max-width: 767px){
    /* code start */
    .banner-section .inner-banner{
        padding: 0px;
    }
    .banner-section .inner-banner h1 {
        padding: 60px 0px 0px;
        font-size: 42px;
        line-height: 50px;
        width: 100%;
    }
    .banner-section .inner-banner p {
        width: 100%;
        font-size: 22px;
        line-height: 35px;
        text-align: justify;
    }
    .inner-title-image p{
        width: 90%;
        margin: 0px auto 40px;
    }
    .title-section .inner-title-full-width p{
        width: 100%;
    }
    .love-animal .inner-love-animal-two{
        display: block;
        text-align: center;
    }
    .love-animal .inner-love-animal-two .hover{
        left: 50px;
        height: 79%;
    }
    .love-animal .inner-love-animal .btn-group .btn-info{
        margin-right: 50px;
    }
    .love-animal .inner-love-animal .btn-group .btn-info{
        margin-right: 50%;
        display: block;
    }
    .love-animal .inner-love-animal-two{
        display: block;
        text-align: center;
    }
    /* code end*/
}
/* Tablate css code end here */

/* landscript tablate and mini laptop */
@media (min-width: 768px ) and (max-width: 1024px){
    /* code start */
    .banner-section .inner-banner{
        padding: 0px;
    }
    .banner-section .inner-banner h1 {
        padding: 60px 0px 0px;
        font-size: 56px;
        line-height: 78px;
        width: 58%;
    }
    .banner-section .inner-banner p {
        width: 48%;
        font-size: 22px;
        line-height: 35px;
        text-align: justify;
    }
    .header-section .d-flex .btn-outline-success{
        display: none;
    }
    .header-section .d-flex .form-control{
        display: none;
    }
    .love-animal .inner-love-animal-two{
        display: block;
        text-align: center;
    }
    .love-animal .inner-love-animal-two .hover{
        left: 75px;
    }
    /* code end */
}
/* landscript tablate and mini laptop */
