*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.text-right{
	text-align: right !important;
}
/*header section code start here*/
.header-section{
	width: 100%;
	background-color: #daac00;
}
.header-section .bg-light{
	background: transparent !important;
	padding: 30px 0px;
}
.header-section .navbar-light .navbar-nav .nav-link.active{
    color: #00bec9;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 0px 30px 0px 50px;
    text-transform: capitalize;
}
.header-section .navbar-light .navbar-nav .nav-link.active:hover,.header-section .navbar-light .navbar-nav .nav-link:hover{
	color: #00bec9;
	font-weight: 500;
	letter-spacing: 1.2px;
}
.header-section .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin: 0px 30px 0px 50px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
} 
.header-section .d-flex .form-control{
    display: block;
    width: 100%;
    padding: 10px 0px 10px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #fcc302;
    background-clip: padding-box;
    border: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 18px;
}
.header-section .d-flex .form-control:hover, .header-section .d-flex .form-control:focus{
	box-shadow: 2px 2px 10px #000;
	cursor: pointer;
}
.header-section .d-flex{
	position: relative;
	padding: 0px 0px;
}
.header-section .d-flex .form-control::placeholder{
	color: #fff;
}
.header-section .d-flex .btn-outline-success{
	position: absolute;
	right: 0;
	padding: 10px;
	border: none;
	border-radius: 0px;
	background: #00bec9;
}
.header-section .d-flex .fa-search{
	padding: 0px 5px;
	color: #fff;
	font-size: 25px;
}
.header-section .d-flex .fa-search:hover{
	color: #fcc302;
}
/*header section code end here*/

/*banner-section code start here*/
.banner-section{
	width: 100%;
	background: url("../images/bonner.png") center top no-repeat;
	background-size: cover;
}
.banner-section .inner-banner{
	width: 100%;
	padding: 120px 0px 120px;
	overflow: hidden;
}
.banner-section .inner-banner h1{
	padding: 120px 0px 0px;
	font-size: 65px;
	line-height: 80px;
	width: 50%;
	color: #fff;
	font-weight: 600;
}
.banner-section .inner-banner p{
	width: 44%;
	font-size: 22px;
	line-height: 32px;
	color: #fff;
	margin: 50px 0px;
}
.banner-section .inner-banner .btn-group{
	padding: 40px 0px;
	margin: 0px 0px 80px;
}
.banner-section .inner-banner .btn-group .btn-success{
	padding: 12px 30px;
	margin-right: 35px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	background: #00bec9;
	cursor: pointer;
	border: none;
}
.banner-section .inner-banner .btn-group .btn-success:hover{
	padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #00bec9;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #fff !important;
	border: #fff;
	transition: ease.5s;
}
.banner-section .inner-banner .btn-group .btn-info{
    padding: 10px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #00bec9;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #fff;
	border: #fff;
	/*transition: ease .5s;*/
}
.banner-section .inner-banner .btn-group .btn-info:hover{
	background: #00bec9;
	color: #fff;
	cursor: pointer;
	border: none;
}
/*banner-section code end here*/